# Compiled files
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.tfstate.*

# Module directory
.terraform/

# webstorm
.idea/*

#authorized keys
authorized_keys/authorized_keys

# python files
lambda/cleanup-rancher-instance/env/
lambda/cleanup-rancher-instance/.idea/
lambda/env/

